    body {
      background-color: black;
      color: white;
      font-family: "Courier New";
      z-index: 4;
      font-size: 1.6vw;
    }
    details {
      z-index: 5;
      float: left;
      color: black;
      background-color: white;
      border: 3px transparent;
      border-radius: 15px;
      padding: 15px;
      cursor: pointer;
      box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24), 0 17px 50px 0 rgba(255,255,255,0.19); 
      position: static;
    }
    #menuhead {
      margin-top: 4%;
      font-size: 2em;
      transition-duration: 0.4s;
    }
    #menuhead:hover {
      font-size: 2.5em;
      transition-duration: 0.4s;
    }
    a {
      display: block;
      text-decoration: none;
      color: white;
      background-color: black;
      padding: 3%;
      border: 1px transparent;
      border-radius: 10px;
      font-size: 1.5em;
      transition-duration: 0.4s;
    }
    a:hover {
      color: black;
      background-color: white;
      border: 1px solid black;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      transition-duration: 0.4s;
    }
    .disabled {
      opacity: 0.6;
      pointer-events: none;
    }
    h1 {
      width: 50vw;
      padding: 15px;
      margin-left: 15%;
      margin: auto;
      margin-top: 5%;
      text-align: center;
      font-size: 400%;
      text-decoration: underline overline double 3px;  
      box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24), 0 17px 50px 0 rgba(255,255,255,0.19);
      border: 1px transparent;
      border-radius: 15px;
      transition-duration: 0.4s;
    }
    h1:hover {
      font-size: 450%;
      width: 55vw;
      transition-duration: 0.4s;
    }
    #intro {
      text-align: center;
      font-size: 2em;
      margin-top: 10%;
    }
    h2 {
      font-size: 1.5em;
      text-align: center;
      text-decoration: underline;
    }
    .textleft {
     float: left;  
     border: 2px transparent;
     background-color: white;
     color: black;
     border-radius: 15px;
     font-size: 1.5em;
     width: 45%;
     box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24), 0 17px 50px 0 rgba(255,255,255,0.19);
     margin; 
    }
    .buttonlink {
      text-align:center; 
      margin-right: 3%; 
      margin-top: 3%;
    }
    .textright {
     float: right;  
     border: 2px transparent;
     background-color: white;
     color: black;
     border-radius: 15px;
     font-size: 1.5em;
     width: 45%;
     box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24), 0 17px 50px 0 rgba(255,255,255,0.19);     
    }
    div p {
      margin-left: 5%; 
      margin-right: 2%;
    }
    .bottom {
      margin-top: 5vw;
      margin-bottom: 5vw;
    }
    .top {
      margin-bottom: 5vw;
    }
